.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.fa-spin {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 47%;
  font-size: xx-large;
    color: darkgray;
}

section { 
    position: relative; 
}


.loader {
  width: 200px;
  height: 200px;  
  border: 15px solid tomato;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
}

.gameImg {
  width: 200px;
  height: 200px;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
}